.department-list{
 	padding:10px;
}

.t-tabs-button {
	position:fixed;
	left:0;
	right:0;
}

.t-list-top-bg {
  height:120px;
  width:100%;
  background:#67b4d1;
}

.t-list-top-content {
  height:60px;
  margin-top:60px;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
}